* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
}
body {
    background-color: black;
}
.yellow {
    width: 100vw;
    height: 30vh;
    background-color: rgb(240, 240, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.black {
    position: absolute;
    width: 100vw;
    height: 70vh;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
}
.search {
    width: 80vw;
    height: 7vh;
    background-color: rgb(67, 154, 154);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.searchicon {
    width: 1.8rem;
    cursor: pointer;
}
.searchtext {
    border: none;
    border-radius: 12px;
    width: 60vw;
    height: 5vh;
    padding: 5px;
}
.box {
    color: white;
    margin: 10px 0;
    width: 25vw;
    height: 25vw;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    cursor: pointer
}
.box img {
    width: 20vw;
    height: auto;
    border-radius: 12px;
}
